{% extends 'master/base.html' %}
<title>Customer_List</title>

{% block content %}
<form action="/customer/" method="POST">
    {% csrf_token %}
    
    {{ form }}
    <input type="submit">
</form>


<table class="table">
    <thead>
        <tr>
            <th scope="col">customer_name</th>
            <th scope="col">customer_contact</th>
            <th scope="col">item_details</th>
        </tr>
    </thead>
    <tbody>
        {% for i in key1 %}
        <tr>
            <td>{{ i.customer_name }}</td>
            <td>{{ i.customer_contact }}</td>
            <td>{{ i.item_details  }}</td>
            <td><a href="{% url 'customer-update' i.id %}"><button type="button" name = 'update_button' value = 'update'  onclick="alert('Do you want to update!')">Update!</button></a></td>
            <td><a href="/customer/{{i.id}}"><button type="button" name = 'delete_button' value = 'delete' onclick="alert('Do you want to delete!')">Delete!</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}


