{% extends 'master/base.html' %}
<title>Customer_List</title>

{% block content %}
<p><a href="{% url 'home' %}">Back to home</a></p>
<form action="/class-customer-view/" method="POST">
    {% csrf_token %}
    <br>
    {{ form }}
    <input type="submit">
</form>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">customer_name</th>
            <th scope="col">customer_contact</th>
            <th scope="col">item_details</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{ object.customer_name }}</td>
            <td>{{ object.customer_contact }}</td>
            <td>{{ object.item_details__item_name }}</td>
            
            <form action="{% url 'class-customer-update' object.id %}" method="POST">
            {% csrf_token %} 
            <td><button type="submit" name='method' value='edit' onclick="alert('Do you want to update!')">Update!</button></td>
            </form>

            <form action="{% url 'class-customer-delete' object.id %}" method="POST">
            {% csrf_token %} 
            <td><button type="submit" name='method' value='delete' onclick="alert('Do you want to delete!')">Delete!</button></td>
            </form>
        </tr>
        {% endfor %}
    </tbody>
    

{% endblock %}



