{% extends 'master/base.html' %}
<title>Item_List</title>

{% block content %}
<p><a href="{% url 'home' %}">Back to home</a></p>
<form method="POST">
    {% csrf_token %}
    <br>
    {{form }}
    <input type="submit">
</form>


<table class="table  table-success table-striped">
    <thead>
        <tr>
            <th scope="col">Item_name</th>
            <th scope="col">Item_category</th>
            <th scope="col">Item_cost</th>
            <th scope="col">Item_company_name</th>
            <th scope="col">Update_table</th>
            <th scope="col">Delete_table</th>
        </tr
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{object.item_name}}</td>
            <td>{{object.item_category}}</td>
            <td>{{object.item_cost}}</td>
            <td>{{object.company_name}}</td>

            <form action="{% url 'class-item-update' object.id %}" method="POST">
            {% csrf_token %} 
            <td><button type="submit" name='method' value='edit' onclick="alert('Do you want to update!')">Update!</button></td>
            </form>

            <form action="{% url 'class-item-delete' object.id %}" method="POST">
            {% csrf_token %} 
            <td><button type="submit" name='method' value='delete' onclick="alert('Do you want to delete!')">Delete!</button></td>
            </form>
        </tr>
        {% endfor %}
        </tbody>
{% endblock %}
